<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Node + Mongoose</title>
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href=""></a>Home</li>
            <li><a href=""></a>Cadastrar</li>
        </ul>
    </nav>
    {{{body}}}
    <footer>
        <p>Criado por <span>Pedro Mauricio </span> &copy; 2023</p>
    </footer>
</body>
</html>