<h1>Editar evento </h1>
<div class="form-container">
    <form action="/edit" method="POST">
    <div class="form-control">
        <input type="hidden" name="id" value="{{product._id}}">
        <label for="name"> Nome do produto: </label>
            <input type="text" placeholder="Digite o nome do produto" name="name" value="{{product.name}}">
        </div>
        <div class="form-control">
            <label for="description">Descricao: </label>
            <input type="description" placeholder="Digite a descricao do produto" name="description" value="{{product.description}}">
        </div>
        <div class="form-control">
            <label for="price">Preco: </label>
            <input type="text" value="{{product.price}}" placeholder="Digite o preco do produto" name="price">
        </div>
        <div class="form-control">
            <button type="submit" class="btnProduct-edit">Editar</button>
        </div>
    </form>
</div>